.mainPage {
  height: -webkit-fill-available;
  background-image: url(/img/MPback.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.mainPage .centerContainer {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  margin: 0px auto;
  align-items: center;
}
.mainPage .centerContainer .title {
  display: flex;
  align-items: center;
  color: black;
  font-size: 25px;
  flex-grow: 3;
  margin-bottom: 50px;
  position: relative;
  padding: 40px;
}
.mainPage .centerContainer a {
  text-decoration: none;
}
.mainPage .centerContainer .MpButton {
  width: 60vw;
  padding: 20px;
  background-color: #ffc078;
  color: #232323;
  margin: 24px auto;
  font-size: 20px;
  border-radius: 25px;
  flex-grow: 1;
  text-align: center;
  position: relative;
}
.mainPage .centerContainer .MpButton .text {
  text-decoration: none;
}
