.pageInfo {
  padding: 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  border: 1px solid #999999;
}
.pageInfo .scriptPlus {
  color: #000000;
  font-size: 15px;
  top: 15px;
  position: absolute;
  right: 15px;
  border-radius: 50px;
  border: 1px solid #999999;
  padding: 5px;
}
.pageInfo .backbutton {
  margin-right: 5px;
}
.script_area {
  padding: 10px;
}
.script_area .each_script {
  border: 1px solid #999999;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.scriptBottom {
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: -1;
}
.scriptBottom .bottomDiv {
  border: 1px solid #999999;
  padding: 10px;
  width: 100%;
}
.scriptBottom a {
  width: 100%;
}
